#login-title {
    text-align: center;
}

html {
    font-family: Calibri;
    background-color: #003366;
    color: #000000;
    min-height: 100%;
}

#signup-link {
    text-align: center;
}

#nameinput {
    text-align: center;
}

#passwordinput {
    text-align: center;
}

#submitbutton {
    text-align: center;
}

#headeruni{
    text-align: center;
}

#infouni {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 5px 5px;
    text-align: center;
}

#grabphpdiv {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: column-reverse;
    flex-flow: column-reverse;
}

#put #get {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#comment {
    display: block;
}

#nameandemail {
    text-align: center;
    display: block;
    margin-left: 10px;
}


#emailsignup {
    margin: auto;
    text-align: center;
}

#signupheader {
    text-align: center;
}

#posts {
    text-align: center;
    position: relative;
    margin: auto;
    background-color: #454f85;
    color: #a7bdd9;
    border: solid 2px black;
    height: auto;
    width: auto;
    padding: 0.5%;
}

body {
    height: auto;
    background-color: #a9c0db;
}

 ::-webkit-scrollbar{
    display: none;
}